DATABASE_URL=database_url
APP_NAME=Stock Market Analytics API
DEBUG=false #<if-prod-make-it-true>

JWT_SECRET_KEY=<secret-32-long-bit-word>
JWT_ALGORITHM=<any-algorithm>
ACCESS_TOKEN_EXPIRE_MINUTES=<time-in-integer>
REFRESH_TOKEN_EXPIRE_DAYS=<days-in-integer>
 
LOGIN_RATE_LIMIT_PER_IP=<time/second>
LOGIN_MAX_FAILED_ATTEMPTS=<integer>
LOGIN_LOCKOUT_MINUTES=<integer>
REFRESH_MIN_INTERVAL_SECONDS=<integer>
TOKEN_GLOBAL_CAP_PER_HOUR=<integer/hour>
 
RATE_LIMIT_AUTHENTICATED=<integer/second;integer/minute>
RATE_LIMIT_UNAUTHENTICATED=<integer/second;integer/minute>